@import '../../styles/responsive.scss';

.navbar{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    gap: 2.5rem;
    width: 100%;

    @include md{
        justify-content: space-between;
        padding: 2.25rem;
    }

    .link{
        color: var(--Colors-White, #FFF);
    
        /* Buttons / Middle */
        font-family: "DM Sans";
        font-size: 1.125rem;
        font-style: normal;
        font-weight: 500;
        line-height: 1.625rem; /* 144.444% */


        span{
            display: none;
        }

        @include md{
            &:not(:first-child){
                display: none;
            }
        }

        &:hover{
            opacity: 0.3;
        }
    }
    a{
        &:last-child{
            color: #fff;
            font-size: 1.5rem;
            font-style: normal;
            font-weight: 500;
            display: none;

            @include md{
                display: inline-flex;
            }
        }
    }
}

.navbar.responsive{
    flex-direction: column;
    width: 100%;
    height: 100vh;
    align-items: start;
    justify-content: start;
    background-color: #482BE7;
    gap: 0.5rem;
    padding: 2.25rem 0 0;
    position: absolute;
    top: 0;



    .link{
        display: flex;
        gap: .5rem;
        align-items: center;
        padding: .85rem 2.25rem;

        span{
            display: inline;
        }
    }

    a{
        &:last-child{
           position: absolute;
           top: 3.25rem;
           right: 2.25rem;
        }
    }
}
